[Unit]
Description=Hostapd IEEE 802.11 AP, IEEE 802.1X/WPA/WPA2/EAP/RADIUS Authenticator
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device
ConditionPathExists=|!/etc/wpa_supplicant.conf
ConditionPathExists=|/run/startApEither
         
[Service]   
Type=forking            
PIDFile=/run/hostapd.pid                                            
ExecStart=/usr/sbin/hostapd /etc/hostapd.conf -P /run/hostapd.pid -B
ExecStartPost=/usr/sbin/udhcpd
         
[Install]                 
WantedBy=multi-user.target

