[Unit]
Description=Audio Server Service
After=snc-broker.service
Requires=snc-broker.service

[Install]
WantedBy=hostapd.service

[Service]
ExecStart=/usr/bin/startAudioServer  

Restart=always
RestartSec=2

