[Unit]
Description=Audio Server Service
After=mpv.service
Requires=mpv.service

[Install]
WantedBy=hostapd.service

[Service]
ExecStart=/usr/bin/startAudioServer  

Restart=always
RestartSec=2

