[Unit]
Description=Example Service
WantedBy=multi-user.target

ConditionPathExists=/etc/wpa_supplicant.conf
ConditionPathExists=!/run/startApEither

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/restartAPonFailure.sh

[Install]
WantedBy=multi-user.target




