[Unit]
Description=Example Service
Requires=wpa_supplicant.service
After=wpa_supplicant.service
ConditionPathExists=/etc/wpa_supplicant.conf
ConditionPathExists=!/run/startApEither

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/restartAPonFailure.sh

[Install]
WantedBy=multi-user.target




