[Unit]
Description=WPA supplicant
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device

[Service]
Type=forking
ExecStart=/usr/sbin/wpa_supplicant -i wlan0 -c /etc/wpa_supplicant.conf -B

[Install]
WantedBy=multi-user.target

