[Unit]
Description=WPA supplicant
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device
ConditionPathExists=/etc/wpa_supplicant.conf

[Service]
Type=forking
ExecStartPre=/bin/rm /run/startApEither
ExecStartPre=/bin/mkdir -p /run/systemd/network/                         
ExecStartPre=/bin/cp /lib/systemd/network/80-wireless.network /run/systemd/network/10-wireless.network
ExecStartPre=/bin/systemctl daemon-reload
ExecStartPre=/bin/systemctl restart systemd-networkd                               
ExecStart=/usr/sbin/wpa_supplicant -i wlan0 -c /etc/wpa_supplicant.conf -B
ExecStartPost=/bin/systemctl restart restartAPonFailure
                          
[Install]                 
WantedBy=multi-user.target

